/* Slideshow */
	#photo-slide-show {
		height:400px;
		position:relative;
	}

	#photo-slide-show img {
		display:none;
		position:absolute;
		max-height:100%;
		width: auto;
/*		animation:one 6s linear infinite;
		-webkit-animation:one 6s linear infinite;
		box-shadow: rgba(0, 0, 0, 0.9) 60px 60px 60px;
		transform:rotate(0deg) scale(.8);
		-webkit-transform:rotate(0deg) scale(.8);*/
	}

	@keyframes one {
	12.5% {
		box-shadow: rgba(0, 0, 0, 0.9) 70px -70px 100px;
	}
	25% {
		box-shadow: rgba(0, 0, 0, 0.9) -60px -60px 80px;
	}
	37.5% {
		box-shadow: rgba(0, 0, 0, 0.9) -50px 50px 50px;
	}
	50% {
		box-shadow: rgba(0, 0, 0, 0.9) 40px 40px 40px;
		transform:rotate(360deg) scale(0);
	}
	62.5% {
		box-shadow: rgba(0, 0, 0, 0.9) 50px -50px 50px;
	}
	75% {
		box-shadow: rgba(0, 0, 0, 0.9) -60px -60px 80px;
	}
	87.5% {
		box-shadow: rgba(0, 0, 0, 0.9) -70px 70px 100px;
	}
	100% {
		box-shadow: rgba(0, 0, 0, 0.9) 80px 80px 120px;
		transform:rotate(720deg) scale(.8);
	}
	}
	@-webkit-keyframes one {
	12.5% {
		box-shadow: rgba(0, 0, 0, 0.9) 70px -70px 100px;
	}
	25% {
		box-shadow: rgba(0, 0, 0, 0.9) -60px -60px 80px;
	}
	37.5% {
		box-shadow: rgba(0, 0, 0, 0.9) -50px 50px 50px;
	}
	50% {
		box-shadow: rgba(0, 0, 0, 0.9) 40px 40px 40px;
		-webkit-transform:rotate(360deg) scale(0);
	}
	62.5% {
		box-shadow: rgba(0, 0, 0, 0.9) 50px -50px 50px;
	}
	75% {
		box-shadow: rgba(0, 0, 0, 0.9) -60px -60px 80px;
	}
	87.5% {
		box-shadow: rgba(0, 0, 0, 0.9) -70px 70px 100px;
	}
	100% {
		box-shadow: rgba(0, 0, 0, 0.9) 80px 80px 120px;
		-webkit-transform:rotate(720deg) scale(.8);
	}
	}
	#photo-balls {
		text-align:center;
	}
	#photo-balls .ball {
		background: #b3b3b3;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		display:inline-block;
		margin-right: 5px;
		cursor:pointer;
	}
	#photo-balls .ball:hover {
		box-shadow: inset rgba(255,255,255,.2) 100px 0;
	}
	#photo-balls .active.ball {
		background: #51abb4;
	}
	@media (max-width: 1000px) {
		#photo-slide-show {
			height:300px;
		}
	}

	@media (max-width: 830px) {
		#photo-slide-show {
			height:250px;
		}
	}

	@media (max-width: 750px) {
		#photo-slide-show {
			height:225px;
		}
	}
	@media (max-device-height:600px) and (orientation : landscape) {
		#photo-slide-show {
			height:380px;
		}
	}